<mat-form-field>
  <mat-label>Buscar por palabra clave</mat-label>
  <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input> -->
  <input matInput placeholder="Buscar" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <!-- <table mat-table [dataSource]="dataSource" matSort>
   
     <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

  </table> -->
</div>