<div [ngClass]="{'av-datatable-layout': true, 'relative': relative }">
    <div *ngIf="remote" class="ls-datatable-top row">
        <div class="ls-datatable-filter col-lg-3 col-md-4 col-12">
            <div class="kt-input-icon kt-input-icon__icon--left search-box">
                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span><em class="fa fa-search text-primary"></em></span>
                </span>
                <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
                <input #searchInput type="text" class="form-control" aria-describedby="search"
                    placeholder="{{ 'CUSTOM.DATATABLE.SEARCH'}}" [disabled]="this.loading">
            </div>
            <div class="ls-datatable-content col-lg-6 col-md-4 col-6">
                <ng-content></ng-content>
            </div>
            <div class="ls-datatable-buttons col-lg-3 col-md-4 col-6">
                <ng-container *ngFor="let b of buttons">
                    <button (click)="btnClicked(b)" *hasPermission="b.permission" [disabled]="loading" mat-raised-button
                        [color]="b.class || 'primary'">
                        <em style="margin-right: 6px" [ngClass]="['button-icon', (b.icon || '')]"></em>{{ b.text }}
                    </button>

                </ng-container>
            </div>
        </div>
        <div class="ls-datatable-table">
            <div *ngIf="(tmpData || []).length === 0 && !loading" class="ls-table-empty">
                <div class="ls-table-empty-title">
                    <h4> {{ 'CUSTOM.DATATABLE.EMPTY' }} </h4>
                </div>
                <div class="ls-table-empty-image">
                    <img alt="Error" src="./assets/media/error/empty-table.png">
                </div>
            </div>
            <div *ngIf="(tmpData || []).length > 0" class="ls-table-header">
                <table class="ls-table table">
                    <caption>Generic Table Header</caption>
                    <thead>
                        <tr>
                            <th *ngIf=false style="width: 1.5rem;" scope="col">
                                <input type="checkbox" class=""  [disabled]="loading">
                            </th>
                            <th *ngFor="let c of columns; let idx = index" scope="col"
                            [ngStyle]="{ 'width.px': columnsWidth[idx] || c.width }">
                            <div [ngStyle]="{ 'text-align': (c.titleAlign || 'left') }">
                                <!-- <button [ngClass]="{'text-primary': columnSorted(c.name)}" (click)="sortColumn(c.name)" [disabled]="loading || c.filterIgnore"> -->
                                    <!-- <span>{{c.title | translate}}</span>
                                    <em [ngClass]="{'text-primary': columnSorted(c.name)}" *ngIf="columnSorted(c.name) && columnSortedDirection(c.name) === 1" class="fa fa-arrow-up"></em>
                                    <em [ngClass]="{'text-primary': columnSorted(c.name)}" *ngIf="columnSorted(c.name) && columnSortedDirection(c.name) === -1" class="fa fa-arrow-down"></em> -->
                                <!-- </button> -->
                            </div>
                        </th>
                    </thead>
                </table>
            </div>


        </div>

    </div>

</div>