<div class="ls-pagination">
	<div class="ls-pagination-controls">
		<nav aria-label="...">
			<ul class="pagination" *ngIf="totalPages > 1">
                <li class="page-item">
                    <button (click)="firstPage()" class="page-link" [disabled]="disabled || currentPage === 1">
                        <span class="fa fa-angle-double-left"></span>
                    </button>
                </li>
				<li class="page-item">
                    <button (click)="prevPage()" class="page-link" [disabled]="disabled || currentPage === 1">
                        <span class="fa fa-angle-left"></span>
                    </button>
                </li>

				<li *ngFor="let page of pages" [ngClass]="{ 'page-item': true, 'active': page === currentPage }">
                    <button class="page-link" (click)="goPage(page)" [disabled]="disabled">{{page}}</button>
                </li>
                
				<li class="page-item">
					<button (click)="nextPage()" class="page-link" [disabled]="disabled || currentPage === (totalPages)">
                        <span class="fa fa-angle-right"></span>
                    </button>
                </li>
                <li class="page-item">
                    <button (click)="lastPage()" class="page-link" [disabled]="disabled || currentPage === (totalPages)">
                        <span class="fa fa-angle-double-right"></span>
                    </button>
                </li>
			</ul>
		</nav>
	</div>
	<div #paginationInfo class="ls-pagination-info">
        <select class="form-control primary page-size-control" [(ngModel)]="pageSize" (change)="changePageSize()">
            <option *ngFor="let size of pageSizes">{{size}}</option>
        </select>
		<div class="ls-pagination-span primary">{{ 'CUSTOM.DATATABLE.SHOWING' | translate }} {{pageStart}} - {{pageEnd}} {{ 'CUSTOM.DATATABLE.OF' | translate }} {{dataCount}} {{ 'CUSTOM.DATATABLE.REGISTERS' | translate }}</div>
	</div>
</div>