.ls-datatable-layout {
    position: absolute;
    top: 0; 
    left: 0;
    
    min-width: 100%;
    height: 100%;

    &.relative {
        position: relative;
        min-width: 100%;
        height: auto;
    }
    
    display: flex;
    flex-direction: column;

    .ls-datatable-top {
        height: auto;
        padding: 0.5rem 0rem;

        .ls-datatable-filter {
            .search-box {
                input {
                    padding-left: 40px;
                    background-color: #e2e5ec;
                }
            }
        }

        .ls-datatable-content {
            position: relative;
        }

        .ls-datatable-buttons {
            text-align: right;


        }
    }

    .ls-datatable-table {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        
        display: flex;
        flex-direction: column;

        position: relative;

        .ls-table-empty {
            flex: 1;
            // margin: 10px 20px;
            text-align: center;
            max-height: 100%;

            .ls-table-empty-title {
                height: auto;

                h4 {
                    font-size: 2.5rem;
                    margin-bottom: 15px;
                }
            }
            
            .ls-table-empty-image {
                flex: 1;
                position: relative;

                img {
                    margin-right: 12px;
                    height: calc(100% - 3rem - 15px);
                }

            }
        }
        
        table.ls-table.table { 
            margin-bottom: 0px; 
        
            caption {
                display: none;
            } 
        }

        .ls-table-header { 
            &.table-with-scroll {
                width: calc(100% - 10px);
            }

            table.ls-table tr th { 
                border-bottom-width: 1px; 
                // border-right: 1px solid;
                
                button {
                    color: var(--dark);
                    font-size: 1rem;
                    font-weight: 700;
                    padding: 0px;
                    text-decoration: underline;

                    background: none;
                    border: none;

                    &.text-primary {
                        background-color: white !important;
                        color: var(--primary) !important;
                    }

                    span, i {
                        vertical-align: middle;
                    }

                    span { margin-right: 3px; }
                    i { font-size: 0.75rem; }

                    &:disabled {
                        text-decoration: none;
                    }
                }
            }
        }

        .ls-table-body {
            flex: 1;
            overflow: auto;
            position: relative;

            table.ls-table tr {
                td {
                    padding: 5px 0.75rem;
                    vertical-align: middle;
                    
                    div {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        line-height: 27px;
                    }
                }
                
                &:hover {
                    background-color: #f3f3f5;
                }

                &.selected {
                    background-color: #e2e5ec !important;
                }
            }

            .ls-button-trigger {
                width: 27px;
                height: 27px;
                
                line-height: 27px;
                min-width: unset;

                padding: 0px;
                margin-left: 6px;

                &.mat-success {
                    background-color: var(--success);
                    color: white;
                }
            }            

        }

        .loading {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            background: rgba(40, 40, 40, 0.5);
            // opacity: 0.5;
            
            mat-spinner {
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 50px);
                z-index: 1;
            }
        }
    }
    
}
