<div [ngClass]="{'ls-datatable-layout': true, 'relative': relative }">
    <div *ngIf="remote" class="ls-datatable-top row">
        <div class="ls-datatable-filter col-lg-3 col-md-4 col-12">
            <div class="kt-input-icon kt-input-icon__icon--left search-box">
                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                    <span><em class="fa fa-search text-primary"></em></span>
                </span>
                <input #searchInput type="text"  class="form-control" aria-describedby="search" placeholder="{{ 'CUSTOM.DATATABLE.SEARCH'}}" [disabled]="loading">
            </div>
        </div>
        <div class="ls-datatable-content col-lg-6 col-md-4 col-6">
            <ng-content></ng-content>
        </div>
        <div class="ls-datatable-buttons col-lg-3 col-md-4 col-6">
            <ng-container *ngFor="let b of buttons">
                <button  (click)="btnClicked(b)" *hasPermission="b.permission" [disabled]="loading" mat-raised-button [color]="b.class || 'primary'"  [matTooltip]="b.tooltip ">
                    <em style="margin-right: 6px" [ngClass]="['button-icon', (b.icon || '')]"></em>{{ b.text   }}
                </button>
            </ng-container>
        </div>
    </div>
    <div class="ls-datatable-table">        
        <div *ngIf="(tmpData || []).length === 0 && !loading" class="ls-table-empty">
            <div class="ls-table-empty-title">
                <h4> {{ 'CUSTOM.DATATABLE.EMPTY' }} </h4>
            </div>
            <div class="ls-table-empty-image">
                <img alt="Error" src="./assets/media/error/empty-table.png">
            </div>
        </div>
        <div *ngIf="(tmpData || []).length > 0" class="ls-table-header">
            <table class="ls-table table">
                <caption>Generic Table Header</caption>
                <thead>
                    <tr>
                        <th *ngIf="multiselect" style="width: 1.5rem;" scope="col">
                            <input type="checkbox" class=""  [disabled]="loading">
                        </th>
                        <th *ngFor="let c of columns; let idx = index" scope="col"
                            [ngStyle]="{ 'width.px': columnsWidth[idx] || c.width }">
                            <div [ngStyle]="{ 'text-align': (c.titleAlign || 'left') }">
                                <button [ngClass]="{'text-primary': columnSorted(c.name)}" (click)="sortColumn(c.name)" [disabled]="loading || c.filterIgnore">
                                    <span>{{c.title }}</span>
                                    <em [ngClass]="{'text-primary': columnSorted(c.name)}" *ngIf="columnSorted(c.name) && columnSortedDirection(c.name) === 1" class="fa fa-arrow-up"></em>
                                    <em [ngClass]="{'text-primary': columnSorted(c.name)}" *ngIf="columnSorted(c.name) && columnSortedDirection(c.name) === -1" class="fa fa-arrow-down"></em>
                                </button>
                            </div>
                        </th>

                        <th *ngIf="actions.length > 0" [ngStyle]="{ 'text-align': 'left', 'width': 'calc(1.5rem + ' + (actions.length * 34) + 'px)' }" scope="col"></th>
                    </tr>
                </thead>
            </table>    
        </div>
        <div #bodyContainer *ngIf="(tmpData || []).length > 0" class="ls-table-body">
            <table #bodyTable class="ls-table table table-striped">
                <caption>Generic Table Body</caption>
                <tbody  #tbody>
                    <tr *ngFor="let i of tmpData; let idx = index" [ngClass]="{ 'selected': selection.indexOf(idx) >= 0 }" (click)="selectRow($event, idx)" (dblclick)="trDblClicked(i, idx)">
                        <td *ngIf="multiselect" style="width: 1.5rem;">
                            <input type="checkbox" onclick="return false;" [disabled]="loading">
                        </td>
                        <td *ngFor="let c of columns" [ngStyle]="{
                            'min-width.px': c.width,
                            'text-align': (c.align || 'left')
                        }">
                            <div [ngStyle]="{ 
                                'min-width.px': c.width,                                
                                'text-align': (c.align || 'left')
                            }" [innerHtml]="getColumnTpl(i, c)"></div>
                        </td>

                        <td *ngIf="actions.length > 0" [ngStyle]="{ 'text-align': 'right', 'width': 'calc(1.5rem + ' + (actions.length * 34) + 'px)' }">
                            <ng-container *ngFor="let b of actions">  
                                <ng-container *ngIf="!actionHide(b, i)">  
                                    <button *hasPermission="b.permission" class="ls-button-trigger" (click)="actionClicked($event, b, i, idx)" mat-raised-button [color]="b.class || 'primary'" [matTooltip]="b.tooltip ">
                                        <em [ngClass]="['button-icon', (b.icon || '')]"></em>
                                    </button>
                                </ng-container>  
                            </ng-container>  
                        </td>
                    </tr>
                </tbody >
            </table>
        </div>

        <div *ngIf="loading" class="loading">
            <mat-spinner></mat-spinner>
        </div>
        <ls-pagination (pageChange)="pageChanged($event)" [pageSize]="pageSize" [pageSizes]="pageSizeOpts" [dataCount]="dataCount" [disabled]="loading" [ngStyle]="{ display: ((data || []).length > 0 && pagination ? 'block' : 'none') }"></ls-pagination>
    </div>
</div>
